body{
    background-color: pink;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    color: purple;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
}

.container{
    text-align: center;

    /* margin-top: 50px; */
}   

#pDetails, #sResults{
    font-size: 20px;
    text-align: left;
    display: inline-block; 
    padding: 7px 14px;
    border-radius: 6px;
    background-color: lemonchiffon;
}

footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(66, 63, 63);
    color:rgb(155, 152, 152);
    position: fixed;
    width: 100%;
    bottom: 0;
}